<div class="steps tutorial_cat_part3 none">
    <div class="centered-text">
        <pre style="font-family: 'Times New Roman', Times, serif;">
            <b style="font-family: 'Times New Roman', Times, serif;"> Mediocre Tutorial </b>

This is our project converted into Python.
        </pre>
    </div>
    <img src="{{prefix}}{{ url_for('static', filename='img/pythonCodesample5.png') }}" id = "pythonCodesample5" alt="pythonCodesample5" width="600px" />  

    <img src="{{prefix}}{{ url_for('static', filename='img/pythonCodesample6.png') }}" id = "pythonCodesample6" alt="pythonCodesample6" width="600px" />  
            <div class="centered-text">


<pre style="font-family: 'Times New Roman', Times, serif;">

Can you find the Python function the matches with the Scratch blocks?

    <div class="btns">
        <img src="{{prefix}}{{ url_for('static', filename='img/catCode1.png') }}" id = "catCode1" alt="catCode1" width="600px" />

        <img src="{{prefix}}{{ url_for('static', filename='img/catCode2.png') }}" id = "catCode2" alt="catCode2" width="600px" />

    </div>

<b>Errors that can happen when generating</b>

<p style = 'color: red;'>Error in generating file!</p>This means that the website could not load the content for your project.
    
    
<p style = 'color: red;'>Invalid URL or internal error!</p> URL is incorrect or scratch is having server issues while you are generating your project.
     
  
<p style = 'color: red;'>Unknown Error</p> Most likely there is something not implemented yet that you used in your project. 
    
    
Keep in mind PyStage is in working development and not everything may work as intended yet.
    
    
When your project is generated this box will show up explaining what PyStage has not implemented yet.

<img src="{{prefix}}{{ url_for('static', filename='img/box.png') }}" id = "box" alt="box" width="1050px"/>
     
Please go to <a href="https://github.com/pystage/pystage/issues" target="_blank">
https://github.com/pystage/pystage/issues</a> 
if you have any issues to report with PyStage.
        </pre>
        <button class="tutorialbtn back" >{{ back }}</button>
        <button class="tutorialbtn next" >{{ next }}</button>
    
        </div>
    </div>
