<div class="steps tutorial_squirrel_part4 none">
    <div class="centered-text">
        <pre style="font-family: 'Times New Roman', Times, serif;">
            <b style="font-family: 'Times New Roman', Times, serif;"> {{ masterTutorial }} </b> 

{{ hardTutorialSentence76 }}

{{ hardTutorialSentence77 }}

    <div class="btns">
<img src="{{prefix}}{{ url_for('static', filename='img/dot.png') }}" id = "dot" alt="dot" width="600px" />

<img src="{{prefix}}{{ url_for('static', filename='img/go.png') }}" id = "go" alt="go" width="600px" />
    </div>
<img src="{{prefix}}{{ url_for('static', filename='img/squirrelPythonCode1.png') }}" id = "squirrelPythonCode1" alt="squirrelPythonCode1" width="600px" />
    <div class="btns">
<img src="{{prefix}}{{ url_for('static', filename='img/codeSample2.png') }}" id = "codeSample2" alt="codeSample2" width="600px" />

<img src="{{prefix}}{{ url_for('static', filename='img/squirrel2Code2.png') }}" id = "squirrel2Code2" alt="squirrel2Code2" width="600px" />
    </div>
<img src="{{prefix}}{{ url_for('static', filename='img/codeSample.png') }}" id = "codeSample" alt="codeSample" width="600px" />
        </pre>
        <button class="tutorialbtn back" >{{ back }}</button>
        <button class="tutorialbtn next" >{{ next }}</button>
    </div>
</div>